[Unit]
Description=SeaweedFS Volume
After=network.target

[Service]
Type=simple
User=root
Group=root

ExecStart=/usr/local/bin/weed volume -dir="/home/champuser/seaweedshare" -max=10 -mserver="10.0.5.10:9333" -port=8081 -dataCenter=DC1 -rack=rack1
WorkingDirectory=/usr/local/bin/
SyslogIdentifier=seaweedfs-volume

[Install]
WantedBy=multi-user.target
